GroceryPalApp/Gp/Gp/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/ws/2005/02/mex/bindings" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/ws/2005/02/mex/bindings" location="http://localhost/wcfservice/Service1.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/wcfservice/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/wcfservice/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/wcfservice/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserId" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfBarcodes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfBarcodes" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfBarcodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfBarcodesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBarcode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBarcode" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBarcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveBarcode_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBarcode" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveBarcode_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfNutritions_InputMessage">
    <wsdl:part name="parameters" element="tns:ListOfNutritions" />
  </wsdl:message>
  <wsdl:message name="IService1_ListOfNutritions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListOfNutritionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCalories_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCalories" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCalories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCaloriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserId" message="tns:IService1_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserIdResponse" message="tns:IService1_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImage" message="tns:IService1_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageResponse" message="tns:IService1_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUserId" message="tns:IService1_AddUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserIdResponse" message="tns:IService1_AddUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfBarcodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfBarcodes" message="tns:IService1_ListOfBarcodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfBarcodesResponse" message="tns:IService1_ListOfBarcodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBarcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBarcode" message="tns:IService1_AddBarcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBarcodeResponse" message="tns:IService1_AddBarcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBarcode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveBarcode" message="tns:IService1_RemoveBarcode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveBarcodeResponse" message="tns:IService1_RemoveBarcode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUser" message="tns:IService1_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserResponse" message="tns:IService1_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListOfNutritions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ListOfNutritions" message="tns:IService1_ListOfNutritions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ListOfNutritionsResponse" message="tns:IService1_ListOfNutritions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCalories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCalories" message="tns:IService1_SetCalories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetCaloriesResponse" message="tns:IService1_SetCalories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRecipes" message="tns:IService1_GetRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRecipesResponse" message="tns:IService1_GetRecipes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service1">
    <wsdl:port name="MetadataExchangeHttpBinding_IService1" binding="i0:MetadataExchangeHttpBinding_IService1">
      <soap12:address location="http://localhost/wcfservice/Service1.svc/mex" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/wcfservice/Service1.svc/mex</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>